</div>
<div class="footer-padding"></div>
<div class="footer">
  <p class="mt-5 mb-3 text-muted">Kdo Fighting &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
    </p>
</div>
</div>
</body>
</html>
